/*  
Theme Name: Duck Island
Theme URI: http://djmcloud.danieljmckeown.com/duckisland/
Description: A child theme of Green Lake
template: Green Lake
Author: Daniel J. McKeown
Author URI: http://djmcloud.com
Version: 0.2.3
Tags: responsive, pacificpelican.us, minimal, child theme
. 
This theme is a child theme from of Green Lake v0.2.2 (2015):
http://djmcloud.danieljmckeown.com/greenlake/
.
licensing info:
    		This program is free software: you can redistribute it and/or modify
    		it under the terms of the GNU General Public License as published by
    		the Free Software Foundation, either version 2 of the License, or
    		(at your option and if possible) any later version.
    		This program is distributed in the hope that it will be useful,
    		but WITHOUT ANY WARRANTY; without even the implied warranty of
    		MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    		GNU General Public License for more details.
.
*/


@import url("../greenLake-master/style.css");
